
<div class="page-header ">
<h3> Times visited pages on this site</h3>
</div>

<div class="col-md-12" >
<p> You've viewed this page {{viewcount}} times </p>
{{#if home}}
<p> You've viewed the home page {{home}} times </p>
{{/if}}
{{#if contact}}
<p> You've viewed the contact page {{contact}} times </p>
{{/if}}
{{#if about}}
<p> You've viewed the about page {{about}} times </p>
{{/if}}
{{#if fileupload}}
<p> You've viewed the file upload page {{fileupload}} times </p>
{{/if}}
</div>

